<html>
    <head>
        <title>Helena's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Helenas awesome blog</a></h1>
        </div>
        <div>
            <p>published: 2016-11-18, 09:59</p>
            <h2><a href="">My first post</a></h2>
            <p>Jag är handen som håller flaggan jag är ficktjuven på centralen
                jag är bomben på terminalerna i väskan som lämnats kvar.</p>
        </div>

        <div>
            <p>published: 2016-11-18, 10:05</p>
            <h2>My second post</h2>
            <p>En fot i graven bland syrener och studenter. Och vi ska leva leva livet, vi har drevet vi har drivet.
                Ja vi ska leva leva livet, vi tar allt, ja, allt för givet.</p>
        </div>
    </body>
</html>